#root {
  margin: 0;
  text-align: center;
}

.article-container, .comment-container {
    border: 1px solid #e0e0e0;
    color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.25rem; 
    padding: 1rem; 
    max-width: 85%; 
    width: 100%; 
    box-sizing: border-box;
    list-style: none;
}
.article-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 97%;
    width: 100%;
}

.comment-container {
    align-items: center;
}

.comment-section {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
  width: 75%;
  height: auto;
}

